{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}
<header>
    <nav>
        <p>Sobre</p>
    </nav>
    <div>
        <img src="http://www.stce.be/solarorbiter5/images/nasa.jpg" alt="logo-nasa">
        <nav>
            <a href="">Como funciona</a>
            <a href="">Mastertech</a>
        </nav>        
    </div>
</header>
<section>
    <div id="image">        
    </div>
    <article>
        <h2>Como a minha ideia funciona?</h2>
        <p>
            Mussum Ipsum, cacilds vidis litro abertis. A ordem dos tratores não altera o pão duris. Si num tem leite então bota uma pinga aí cumpadi! Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Pra lá , depois divoltis porris, paradis.
        </p>
    </article>
    <div id="conteudo-img">
        <div>
            <img src="https://images.vexels.com/media/users/3/150026/isolated/preview/580cca5efa65c7c69ba5cad9e954698d-ilustra----o-de-foguete-espacial-by-vexels.png" alt="">
            <p>Nossos serviços</p>
        </div>
        <div>
            <img src="https://images.vexels.com/media/users/3/157971/isolated/preview/393140c13ded6abdd322098d2d02a6d7-ilustra----o-do-planeta-terra-by-vexels.png" alt="">
            <p>Sobre Nós</p>
        </div>
        <div>
            <img src="https://cdn.pixabay.com/photo/2013/07/12/16/51/full-moon-151379_960_720.png" alt="">
            <p>Onde Estamos</p>
        </div>
    </div>
</section>
<footer>
    <a href="">Facebook</a>
    <a href="">Linkedin</a>
    <a href="">Instagram</a>
</footer>
{% endblock %}